#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  scroll-behavior: smooth;
}

.input {
  margin-top: 20px;
  display: flex;
  width:70vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 3pt double rgb(51, 255, 0);
  padding: 10px;
}

.preview-image-container {
  margin:20px;
  display: flex;
  justify-content: center;
}

.preview-image {
  width: 200px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;;
}


.image-container {
  max-width: 100vh;
  height: auto;
  overflow: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.photo {
  margin: 10px;
  width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;;
}







