#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  scroll-behavior: smooth;
}

.input {
  margin-top: 20px;
  display: flex;
  width:70vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 3pt double rgb(51, 255, 0);
  padding: 10px;
  margin-bottom: 20px;;
}

.preview-image-container {
  margin:20px;
  display: flex;
  justify-content: center;
}

.preview-image {
  width: 200px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;;
}


.image-container {
  max-width: 100vh;
  height: auto;
  overflow: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.photo {
  margin: 10px;
  max-width: 100px;
  max-height: 130px;
}

.file-label {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.file-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}







